header {
    margin-left: 215pt;
    background-color: #517470;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 2pt;
}
h1 {
    font-size: 54pt;
    text-align: center;
    color: #b2c1a2;   
}
h2 {
    font-size: 26pt;
    color: #517470;   ;   
}
h3 {
    font-size: 18pt;
    color: #458d85;   
}
h4 {
    font-size: 16pt;
    color: #a0745d;   
}
h5 {
    font-size: 14pt;
    color: #be9c8b;   
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 215pt;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #dadada;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 
nav li {
    padding: 10px 20px;    
}
nav li a {
    display: block;
    color: #7c816c;
    font-size: 15pt;
    text-decoration: none;
} 
nav li:hover {
    background-color: #517470;   
    box-shadow: 0px 2px  rgba(0, 0, 0, 0.3)
}
nav li:hover a {
    color: #b2c1a2;
}
ul ul li a{
    margin-left: 20pt;
}

main {   
    margin-left: 215pt;
}
body{
    background-color: #f2f2f2; 
}
section {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 15pt;
    margin-top: 18pt;
    margin-bottom: 18pt;
    background-color: #f2f2f2;
}
.types {
    width: 25%;
    height: 180pt;
    float: left;    
}  
#type {
    height: 180pt;
}
p{
    font-size: 14pt;
    color: #5b614a;
}
code {
    display: inline-block;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border: 1px solid #aaa;
    background-color: #dadada;
    border-radius: 3px;
    width: 95%;
    color: #5b614a;

}
a {
    text-decoration: none;
    color: #a0745d; 
}
a:hover {
    color: #517470;
}

dt {
    font-size: 16pt;
    color: #434933;
    margin-top: 15pt;
    margin-bottom: 3pt;
}
dd {
    font-size: 14pt;
    color: #5b614a;
}

div ul li {
    color: #be9c8b;
    font-size: 14pt;
}

    /*SHAPES*/
#circle {
    height: 50px;
    width: 50px;
    background-color: #517470;
    border-radius: 50%;
    text-align: center;
    margin-left: 100pt;
}    
#square {
    height: 50px;
    width: 50px;
    background-color: #517470;
    margin-left: 100pt;
}        
#rectangle {
    height: 50px;
    width: 100px;
    background-color: #517470;
    margin-left: 100pt;
}
#triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #517470;
    margin-left: 100pt;
}   
#rounded-rectangle {
    height: 50px;
    width: 100px;
    background-color: #517470;
    border-radius: 10pt;
    margin-left: 100pt;
}
#oval {
    height: 50px;
    width: 100px;
    background-color: #517470;
    border-radius: 50%;
    margin-left: 100pt;
}

#heart {
    --size: 50px;
    position: relative;
    width: var(--size);
    height: calc(var(--size) * 0.3);
    margin-left: 70pt;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: calc(var(--size) * 0.55);
    top: 0;
    width: calc(var(--size) * 0.55);
    height: calc(var(--size) * 0.85);
    background: #517470;
    border-radius: calc(var(--size) * 0.55) calc(var(--size) * 0.55) 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    margin-left: 50pt;
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    margin-left: 50pt;
}

#six-pointed-star{
    --star-color:#517470;
    --sqrt-3:1.73205080757;
    margin: 0 auto;
    font-size:2em;
    width: 0;
    height: 0;
    position:relative;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: calc( 1em * var(--sqrt-3) ) solid var(--star-color);
    margin-left: 100pt;
}         
#six-pointed-star:after{
    content:"";
    position:absolute;
    width: 0;
    height: 0;
    left:-1em;
    top:calc( 1em * var(--sqrt-3) / 3 );
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: calc( 1em * var(--sqrt-3)  ) solid var(--star-color);   
    
}

#cut-diamond {
    border-style: solid;
    border-color: transparent transparent #517470 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    box-sizing: content-box;
    position: relative;
    margin: 20px 0 50px 0;
    margin-left: 100pt;
}
#cut-diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #517470 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}      

#spiral {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #517470;
    position: relative;
    margin-left: 100pt;
}
#spiral::before {
    content: "";
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 5px solid #517470;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: rotate(45deg) scale(0.9);
} 
#spiral::after {
    content: "";
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 5px solid #517470;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: rotate(-45deg) scale(0.8);
  }

.shape {
    width: 50%;
    height: 100pt;
    float: left;  
    margin: 0 auto;
}  
.shapes {
    height: 150pt;
    
}
.shapesLong {
    height: 340pt;   
}
.shapesLongLong {
    height: 390pt; 
}